*{
	/*font-family: 'PT Sans', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
}

.container-fluid{
	margin: 0;
	padding: 0;
}

nav{
	background-color: #ffc107;
	font-size: 1.2em;
}

.nav-item{
	font-weight: normal;
}

/*navbar*/
.my_pic{
	max-width: 50%;
	border-radius: 50%
}

.icono{
	width:25%;
}

.ancleLogo{
	display: flex;
    justify-content: center;
}

/*profile*/
/*video*/
.v-header{
	/*display: flex;*/
	align-items: center;
	margin: auto;
	text-align: center;

}

.background-wrap{
	position: absolute;
	width: 100%;
	overflow: hidden;
	z-index: -1;
}

video{
	max-width: 100vw;
}

.overlay{
height: 100vh;
position: absolute;
background:yellow;
opacity: 0.5;
z-index: 1; 
}

.inter{
	z-index: 2;
	align-items: center;
	margin-bottom: 18em;
}

.name{
	font-size: 2em;
	font-weight: normal;
	background: -webkit-linear-gradient(#ff00002e, #ffc107);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.imgBrayan{
	border-radius: 50%;
	margin-top: 5%;
	width: 15%;
}

.profile{
	text-align: center;
}

.Title{
	color:#7f6003;
	text-align: center;
}

.work{
	text-align: center;
	margin-top: 4em;
	padding: 0 3em 3em 3e;

}

.work h3{
	color:#7f6003;
}

.Text{
	padding: 0 3em;
}

.itemWork{
	border-radius: 1em;
	padding: 2em;
	margin-bottom: 2em;
	vertical-align: center;
	display: inherit;
	}

	.itemWork:hover{
		-webkit-box-shadow: 0px 10px 39px 6px rgba(0,0,0,0.12);
-moz-box-shadow: 0px 10px 39px 6px rgba(0,0,0,0.12);
box-shadow: 0px 10px 39px 6px rgba(0,0,0,0.12);
	}


.educationTitle{
text-align: center;
margin:0 auto;
padding:2em 0;
}

.imgEducation{
	max-height: 30%;
	max-width: 30%;
	margin-bottom: 2em;
	border-radius: 2em;
}

.imgEducation2{
	max-height: 80%;
	max-width: 80%;
	margin-bottom: 2em;
		border-radius: 2em;

}

.imgSkill{
	background-color: #ffc107;
	padding: 2em;
	border-radius: 2em;
	max-width: 50%;
	max-height: 50%;
}

.imgSkill2{
	background-color: #7f6003;
	padding: 2em;
	border-radius: 2em;
	max-width: 50%;
	max-height: 50%;
}

.skillsTitle{
	padding: 2em;
}

.titleEachSkill{
	padding-top: 0.5em;
}
.descSkill{
	padding-bottom: 1.5em;
}

.textExperience{
padding-bottom: 2em;
}

@media screen and (max-width: 576px) {
   .name{
	font-size: 2em;
	}
	
	.inter{
	margin-bottom: 6em;
	}

}

@media screen and (min-width: 768px) {
	.inter{
	margin-bottom: 10em;
	}

}

@media screen and (min-width: 992px) {
	.inter{
	margin-bottom: 16em;
	}
	

}

footer{
	background-color:#7f6003;
margin:0;
padding: 2em;
font-weight: normal;
}

.footerImg{
	max-width: 25%;
	border-radius: 50%;
}

.footerTitle{
	text-align: center;
	color: white;
	font-weight: normal;
}

ul {
	list-style: none;
	vertical-align: center;
	text-align: center;
    color: white;
    text-decoration: none;
}

ul a{
	margin-top: 2em;
}

a {
	text-decoration: none;
	color:white;
}

a:hover{
	color:#ffc107;
}

ul li{
	display: contents;
	margin-left: 3em;
}

i{
	margin-right: 1em;
}